/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}
body {
    width: 100%;
    margin: 0;
    padding: 5px;
    display: flex;
    justify-content: center;
}
header {
    display: flex;
    flex: 100%;

    /* width: auto; */
}

nav {
    width: 100%;    

}

ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}
ul, li {

    list-style: none;
}

#logo {

    margin: 2px;
    width: 70%;
    position: relative;
    right: 40px;
}

li img {
font-size: 40px;

}



#hebergements, #activites {
    border:none;
    padding: 5px;
}


.host-search {
    
}

#search-bar {
    display: flex;
margin: 5px;
}

#field-icone-location {
    padding: 1px;
    background-color: #f2f2f2;
    padding: 20px;

}




/* form label, form div {
    
} */

/* form div {
    border: 1px solid #f2f2f2;
} */
#fielt-text-search {
    /* text-align: center; */
    padding: 5px;
    border-left: none;
    border-right: none;
    border-top: 1px solid #d9d9d9;
    border-bottom:1px solid #d9d9d9;
    font-size: 15px;
    font-weight: bolder;
    font-family: 'Raleway';
}
button {
    background-color: #0065FC;
    color: white;
    padding: 15px;
    font-size: 20px;
    border: none;
    border-radius: 0 20px 20px 0;
}

#filtr {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-weight: bold;
    margin: 10px;
    padding: 5px 0;
    font-size: 20px;
    align-items: center;
}

.filtr-favorite {
    display: flex;
    flex-direction: row;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    margin: 10px;
    padding: 10px;
}

.filtr-paint{
    /* border: 1px solid black; */
    padding: 5px;
}

.filtr-text {
    padding: 5px;
}

.p-information {
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
}

.icone-info {
    border: 2px solid #F2F2F2;
    border-radius: 20px;
    padding: 8px;
    margin: 15px

}


.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}


a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements-and-populaires .hebergements {
    width: 65%;
}

/******* Hebergements-card *******/
.hebergements-card {
    display: flex;
    flex-wrap: wrap;

}


/* ***** ****** */

.hebergements-card-article {
    display: flex;
    flex: 25%;
    flex-direction: column;
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 30px;

}

.hebergements-card-article img {
width: 100%;
object-fit: cover;
border: 1px solid green;
border-radius: 20px 20px 0 0;
}
.hebergements-card-content {

}
.hebergements-card-text {

}

.hebergements-card-title {

}
.hebergements-card-subtitle {

}



/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content, .hebergements-card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title, .hebergements-card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle, .hebergements-card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* apparemment il faut faire le code restant */

.activites-a-marseille {
    display: flex;
    flex-direction: column;
    align-items:flex-start
}

#redirection-activites {

}

.activites-card {

}
.activites-card-lien {
display: flex;
}
.activites-article {

}

.activites-image {

}

.activites-titre {
    
}
/* footer et il y a aussi le code manquant pour activites a marseilles a faire ci dessus */

footer {
    display: flex;
    justify-content: space-around;
    background-color: var(--main-bg-color);
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}